<% provide(:title, "Particles Query") %>
  <div class="container">

    <div class="jumbotron center-text">
      <h1>Take the OpenAura API for a spin</h1>
      <h2>
        
      </h2>
      <p>This is a Rails app designed to demonstrate the <a href="http://openaura.com">OpenAura API</a>.</p>
      <section class="input_form">
        <%= render 'layouts/form' %>
      </section>
    </div>
  <%= render 'layouts/particles' %>
</div> 