<footer class="footer">
  <div class="container">
    <div class="row">
      <div class=".col-md-2 pull-left">
        <p class="text-muted bottom-text offset-top">
          Built by <a href="http://www.timothyshulljr.com/">Tim Shull</a>
        </p>
      </div>
      <div class=".col-md-4 pull-right">
        <%= link_to image_tag("oa_logo_black.png", alt: "OpenAura logo"),
        'http://openaura.com' %>
      </div>
    </div>
  </div>
</footer>