<footer class="footer">
  <small>
    Built by<a href="http://www.timothyshulljr.com/">Tim Shull</a>
  </small>
  <nav>
    <ul>
      <li><a href="http://openaura.com/">OpenAura</a></li>
      <li><a href="http://developer.openaura.com/">Developers</a></li>
    </ul>
  </nav>
</footer>