<div class="row">
  <div class=".col-md-4 .col-md-offset-4">
    <ul class="users">
      <% if @particles %>
        <h1>Returned Particles</h1>
        <% @particles.each do |f| %>
          <li>
            <%= f.provider_name %>
            <%= f.particle_date %>
            <%= f.particle_id %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
